<mat-spinner *ngIf="pageLoading" class="loading-spinner"></mat-spinner>
<div *ngIf="openInfoWindowID" id="star-container">
  <div class="title">
    {{findName(openInfoWindowID)}}
  </div>
  <span class="star col" (click)="handleStar()" [ngSwitch]="isFave">
    <i *ngSwitchCase="true" class="material-icons filled">star</i>
    <i *ngSwitchCase="false" class="material-icons empty">star_outline</i>
  </span>
  <span class="desc col" [ngSwitch]="isFave">
    <span *ngSwitchCase="true" >Remove station from favorites</span>
    <span *ngSwitchCase="false">Add station to favorites</span>
  </span>
  
</div>
<ng-container *ngIf="showErrorCard">
  <app-error-card></app-error-card>
</ng-container>

<div id="map-container">
      <div id="map"></div>
    </div>