<div id="container" (window:resize)="onResize()">
  <div class="row navbar">
    <mat-toolbar>
      <a routerLink=''><img class="navbar-logo" src="./assets/bb_logo.svg"/></a>
      <span style="flex:1 1 auto"></span>
        <a routerLink="search">
          <span class="navbar-link"><i class="material-icons">search</i>&nbsp;Search</span>
        </a>
        <a routerLink="login">
          <span class="navbar-link" [ngSwitch]="isLoggedIn()"><i class="material-icons">account_circle</i>&nbsp; 
            <span *ngSwitchCase="true">Sign out</span>
            <span *ngSwitchCase="false">Sign in</span>
          </span>
        </a>
    </mat-toolbar>
  </div>
  <div class="row" id="content">
    <router-outlet></router-outlet>
  </div>
  <div class="row" id="footer">
    <span id="attribution"></span>
  </div>
</div>