html, body {
    height:100%
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.infoWindow {
    text-align:center;
}

.infoWindow h3 {
    margin-top:0;
}

.infoWindow .warning {
    color:red;
    padding-bottom:8px;
}

.material-icons {
    vertical-align: middle!important;
}

.infoWindow .empty, .infoWindow .full {
    height:18px;
    width:10px;
    border-radius: 40%;
    box-sizing: content-box;
    display: inline-block;
    margin:1px;
    vertical-align: middle;
}

.infoWindow .empty {
    background-color: white;
    border: 2px solid black;
}

.infoWindow .moretxt {
    padding:0 2px 0 0;
    border-radius: 5px;
    width:auto;
    font-weight: bold;
}

.infoWindow .moretxt i{
    font-size: smaller;
}

.infoWindow span.empty.moretxt {
    color:black;
}

.infoWindow .full {
    background-color: navy;
    border: 2px solid navy;
}

.infoWindow span.full.moretxt {
    color:white;
}

.infoWindow .footer {
    margin: 10px 10px 0 10px;
    text-align:left;
}

.infoWindow .timestamp {
    color:gray;
    font-style: italic;
    font-size: smaller;
    padding-top:3px;
}

.infoWindow .timestamp i{
    font-size: small;
}

