:root {
    /* global color vars */
    --navbar-dark: #323a4a;
    --result-highlight: #441461;
    --light: #f0f0f0;
    --error-red: #e02020;
    --text-gray: #909090;
    --background-gradient: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
    --desktop-breakpoint: 600px;
    --gold : #FFD700;
}

html, body {
    height:100%
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card.with-max {
    margin: 5px;
}


.gm-style-iw, .gm-style-iw-c {
    max-width: none!important; 
  }

.infoWindow {
    text-align:center;
    padding:0 12px 12px 0;
}

.infoWindow h3 {
    margin-top:0;
}

.infoWindow .warning {
    color:var(--error-red);
    padding-bottom:8px;
}

.material-icons {
    vertical-align: middle!important;
}

.infoWindow .cont .empty, .infoWindow .cont .full {
    height:18px;
    width:10px;
    border-radius: 40%;
    box-sizing: content-box;
    display: inline-block;
    margin:1px;
    vertical-align: middle;
}

.infoWindow .cont .empty {
    background-color: white;
    border: 2px solid black;
}

.infoWindow .cont .moretxt {
    padding:0 2px 0 0;
    border-radius: 5px;
    width:auto;
    font-weight: bold;
}

.infoWindow .cont .moretxt i{
    font-size: smaller;
}

.infoWindow span.empty.moretxt {
    color:black;
}

.infoWindow .cont .full {
    background-color: navy;
    border: 2px solid navy;
}

.infoWindow span.full.moretxt {
    color:var(--light);
}

.infoWindow .footer {
    margin: 10px 10px 0 10px;
    text-align:left;
}

.infoWindow .timestamp {
    color:var(--text-gray);
    font-style: italic;
    font-size: smaller;
    padding-top:3px;
}

.infoWindow .timestamp i{
    font-size: small;
}
/* 
.infoWindow .col {
    display:inline-block;
}

.infoWindow .col.star {
    float:left;
}

.infoWindow .col.star .empty {
    color:gray;
}

.infoWindow .col.star .filled {
    color: var(--gold);
} */

@media only screen and (min-width: 600px) {
    mat-card.with-max{
        margin:80px auto;
        max-width:450px;
    }
    
}
