mat-form-field {
    z-index:0;
}

.search-results {
    max-height:200px;
    overflow-y: scroll;
    margin: -20px 0px 10px 0px;
    z-index: 1;
    position: relative; 
}

.search-results .result {
    padding: 10px;
}

.search-results .result.selected {
    background-color: var(--result-highlight);
    color:var(--light);
}

.light {
    color: var(--text-gray);
    font-style:italic;
}

.error-text {
    padding:10px;
    font-size: small;
    color:var(--error-red);
}

button.next-button {
    /* margin-left:auto;
    margin-right: auto; */
    display:block;
    width:100%;
    background-color: var(--navbar-dark);
    color: var(--light);
}