<mat-card class="with-max">
    <mat-card-title>
        <i class="material-icons">search</i>Search for a System
    </mat-card-title>
    <div>
        Search by system name <span class="light">(eg "Nice Ride")</span> or location <span class="light">(eg "Minneapolis")</span>. Searching by country is not currently supported.
    </div>
    <div>
        <mat-form-field style="width:100%">
            <mat-label>Search</mat-label>
            <input type="text" (keyup)="runSearch($event)" matInput>
        </mat-form-field>
        <div class="search-results">
            <div *ngFor="let sys of searchResults" class="result" (click)="handleSelect(sys)" [class.selected]="selectedSystem === sys">
                <span>{{sys.systemName}}</span> |
                <small>{{sys.location}}</small>
            </div>
        </div>
    </div>
    <div>
        <button mat-raised-button (click)="continue()" class="next-button">Next</button>
        <span *ngIf="errorSelectSystem" class="error-text">Please select a system before continuing.</span>
    </div>
    

      

<!-- <p *ngFor="let sys of searchResults" (click)="setSystem(sys)">
    <b>{{sys.systemName}}</b> {{sys.location}}
</p> -->


</mat-card>