<mat-card class="with-max">
    <mat-card-title *ngIf="userInfo">
        <i class="material-icons" style="font-size: larger;">pedal_bike</i>
        &nbsp;Welcome, {{ userInfo.displayName }}!
    </mat-card-title>
    <mat-spinner *ngIf="pageLoading" class="loading-spinner"></mat-spinner>
    <mat-card-content>
        <div *ngIf="!pageLoading && userData.length===0" class="msg">
            It looks like you haven't added any favorite stations yet! Head to the <a [routerLink]="['../search']">search page</a> and find a bikeshare system to get started.
        </div>

        <div *ngFor="let sys of userData" class="system">
            <h2>
                {{ sys.system.systemName }}
                <button class="mat-raised-button map-button" (click)="goToMap(sys.system)">
                    Go to map <i class="material-icons">forward</i>
                </button>
            </h2>
            <div *ngFor="let station of sys.stations" class="content">
                <span class="star">
                    <i class="material-icons" (click)="handleStar(sys, station)" [ngSwitch]="station.favorite">
                        <span *ngSwitchCase="true" class="filled">star</span>
                        <span *ngSwitchCase="false" class="empty">star_outline</span>
                    </i>
                </span>
                <span class="infoWindow">
                    <div class="title">{{ station.name }}</div>
                    <div class="status" [innerHtml]="station.displayHtml"></div>
                </span>
            </div>
        </div>
    </mat-card-content>
</mat-card>